<div class="flex items-center justify-between">
  <h1 class="text-2xl font-medium text-primary-500">
    Projeto <%= @project.name %>
  </h1>

  <%= link_to "Voltar", projects_path, class: "btn-secondary" %>
</div>

<div class="overflow-hidden bg-white rounded shadow-md text-slate-500 shadow-slate-200 mt-2">
  <div class="p-6">
    <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @project.evaluations %>
  </div>
</div>
